<div class="modal micromodal-slide" id="modal-{{name}}" aria-hidden="true">
  <div class="modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-{{name}}-title">
      <button class="modal-close" aria-label="Close modal" data-micromodal-close>&times;</button>
      <div class="modal-content" id="modal-{{name}}-content">
        <div id="modal-{{name}}-content-wrapper"><p>Something went wrong loading this content :(</p></div>
      </div>
    </div>
  </div>
</div>
