<div>
  <p>You corrected <b>{{count.tags}}</b> tags, spread over <b>{{count.elems}}</b> OSM elements.</p>
  <p>
    <button id="gen-osm-change" class="styled-btn">Download OsmChange file</button>
    <a id="osm-change-dl"></a>
  </p>
  <p>
    <span>
      Automatic uploads do not work yet.
      You can use <a href="https://wiki.openstreetmap.org/wiki/Upload.py">upload.py</a> in the meantime.
    </span>
  </p>
</div>