.l-btn  {
  background-color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.leaflet-bar.disabled, .leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .6;
}

.l-btn-icon-cont {
  display: inline-block;
  text-align: center;
}

.l-btn-icon-cont:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.l-btn-icon {
  font-size: 15px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.l-btn-text-cont {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.l-btn-text-cont span {
  font-family: Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #344d50;
  font-weight: bold;
  font-size: 20px;
}

.l-group > * {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.l-group > *:last-child {
  border-bottom: none;
}