/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #344d50;
}

.modal h1 {
  color: #3b9b51;
  margin-top: 0.3em;
}

.modal a {
  color: #3b9b51;
  text-decoration: none;
}

.modal a:visited {
  color: #4cad63;
}

.modal button.styled-btn {
  background-color:#3b9b51;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size: 16px;
  padding:7px 15px;
  text-decoration:none;
}
.modal button.styled-btn:hover {
  background-color:#4cad63;
}
.modal button.styled-btn:active {
  position:relative;
  top:1px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: #fff;
  padding: 30px;
  max-width: 600px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
/*  font-size: 1.25rem;
  line-height: 1.25;
*/  box-sizing: border-box;
}

.modal-close {
  background: transparent;
  border: 0;
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  padding-right: 0;
  padding-left: 0;
}

.modal-header .modal-close:before { content: "\2715"; }

.modal-content {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}


/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  position: relative;
  z-index: 3000;
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal-overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal-container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal-container,
.micromodal-slide .modal-overlay {
  will-change: transform;
}